*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */
}

body {
    font-family: 'Yantramanav', sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */

header{
    padding-bottom: 100px;
    background-color: #3161E0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}


header nav{
    background-color: #3161E0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

header nav figure,
header nav ul,
header nav a{
    color: white;
    list-style-type: none;
    /* display: inline-block; */
    display: flex;
    gap: 20px;
}

header nav span{
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 30px;
    width: 70px;
    height: 30px;

    padding-block: 10px;
    padding-inline: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
} 


/* CALL TO ACTION */
#cta{
    width: 90%;
    margin: 80px;
    color: white;

    text-align: center;
}

header #cta .download1 {
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 30px;
    width: 160px;
    height: 40px;
    margin-top: 20px;
    padding-block: 10px;
    padding-inline: 20px;
}


header #cta .download2 {
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 30px;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    padding-block: 10px;
    padding-inline: 20px;
}

h1 {
    font-size: 50px;
}

/* SEZIONI */

.container{
    width: 80%;
    margin: 0 auto;
}

section{
    padding-block: 20px;
}

section .section-text h2{
    font-size: 35px;
    margin-bottom: 30px;
}

section .img-text{
    display: flex;
}

section .img-text figure{
    flex-basis: 70%;
}

section .img-text .section-text{
    flex-basis: 30%;
}

section.discord-services:nth-child(even){
    background-color: lightgray;
}

section.discord-services:nth-child(even) .img-text figure{
    order: 1;
}

section.discord-services:last-child{
    text-align: center;
}

section .container h1 {
    margin-top: 20px;
}

section .container h2 {
    margin-bottom: 40px;
}

.container h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 500px;
    background-position: top;
    font-size: 30px;
}

 .discord-services .container .download3 {
    background-color: #8EA1E1;
    color: white;
    display: inline-block;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 30px;

    padding-block: 10px;
    padding-inline: 20px;
 }

/* FOOTER */
footer{
    background-color: #121212;
    color: white;
    padding-block: 60px;
}

.italy:before {
    content: "";
    background-image: url("../img/ita.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    width: 18px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

footer a {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h2, h4 {
    color: #7289DA;
}

footer ul li {
    list-style-type: none;
    display: flex;
    gap: 20px;
}


footer .container{
    display: flex;
    /* justify-content: space-between; */
}

footer .container > div{
    flex-grow: 1;
}

footer .container>div:first-child{
    flex-grow: 2;
}

footer .footer-login{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

hr {
    border: 1px solid #7289DA;
    margin-bottom: 10px;
}

.download4 {
    background-color: #8EA1E1;
    color: white;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
 }

/* SOCIAL NETWORK */

 .fa {
    padding: 20px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

.fa-twitter, .fa-instagram, .fa-facebook, .fa-youtube{
  color: white;
  display: flex;
  padding: 10px;
}

 