*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid black; */
}

body {
    font-family: 'Yantramanav', sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */

header{
    padding-bottom: 100px;
    background-color: #3161E0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}


header nav{
    background-color: #3161E0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

header nav figure,
header nav ul,
header nav a{
    color: white;
    list-style-type: none;
    /* display: inline-block; */
    display: flex;
    gap: 20px;
}

header nav .login1{
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 30px;
    width: 70px;
    height: 30px;
    text-align: center;
} 


/* CALL TO ACTION */
#cta{
    width: 90%;
    margin: 80px;
    color: white;

    text-align: center;
}

header #cta .download1 {
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 30px;
    width: 160px;
    height: 30px;
}


header #cta .download2 {
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 30px;
    width: 200px;
    height: 30px;
}
